<div class="login-dark">
  <form method="post">
    <h2 class="sr-only">Sign_In Form</h2>
    <div class="illustration">
      <i class="fa fa-lock"></i>
    </div>
    <%= form_for(:session, url: sign_in_user_path) do |f| %>
      <%= f.email_field :mail, class: 'form-control', placeholder:'Email' %>
      <%= f.password_field :password, class: 'form-control', placeholder:'Password' %>
      <%= f.submit class: 'btn btn-primary btn-block', value:"ログイン" %>
    <% end %>
  </form>
</div>
