// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content-form{
  width: 900px;
  height: 400px;
}

a:link  { color : black; }

.page-title{
    text-align: center;
    font-size: 36px;
}
.newsType-button{
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  width: 170px;
  display: inline-block;
}

.news-topics{
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.news-outside{
  margin-top: 10px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid;
}
.news-inside{
  width: 880px;
  height: 130px;
  margin: 10px;
}
.news-created_at{
  width: 700px;
  height: 30px;
  display: inline-block;
}
.news-title{
  width: 700px;
  height: 50px;
}
.news-image{
  display: inline;
  width: 100px;
  height: 100px;
  float: right;
}
.news-content{

}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.news-title{
  font-size: 24px;
}
