<div class="row register-form">
    <div class="col-md-8 offset-md-2">
      <h1>メーカー登録</h1>
        <%= form_for @manufacturer, class:"custom-form" do |f| %>
          <%= f.label "メーカー名" %>
          <%= f.text_field :manufacturer_name, class: 'form-control', placeholder:'メーカー名を入力' %>
          <div class="submit-layout text-center">
            <%= f.submit "新規登録", class:"btn submit-button" %>
          </div>
        <% end %>
    </div>
</div>
