<nav class="navbar navbar-light" style="background-color: black;">
  <a href="#" class="navbar-brand site-title" style="color: white;"><span>Securio</span></a>
    <p class="ml-auto navbar-text actions">
      <button class="btn btn-primary" type="button"><strong>Sign In</strong></button>
      <button class="btn btn-success" type="button" style="margin-left: 2px;"><strong>Sign Up</strong></button>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: black;">
          <i class="fa fa-navicon fa-2x menu-icon"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Securioについて</a>
          <a class="dropdown-item" href="#">防犯カメラをみる</a>
          <a class="dropdown-item" href="#">ニュースをみる</a>
        </div>
      </div>
  </p>
</nav>
